{
  "openapi": "3.0.3",
  "info": {
    "description": "InOrbit offers REST and streaming APIs that enable programmatic access to InOrbit features. Using these APIs you can fetch data related to your robots, trigger actions, integrate with incident management systems and more.\n\nThis page contains the APIs reference. For testing APIs, see [Postman](/#tag/Postman) section.\n",
    "version": "1.2.0",
    "title": "InOrbit REST APIs"
  },
  "servers": [
    {
      "url": "https://api.inorbit.ai"
    }
  ],
  "security": [
    {
      "appKey": []
    }
  ],
  "tags": [
    {
      "name": "robots",
      "x-displayName": "Robots",
      "description": "Operations to list and retrieve robots' information"
    },
    {
      "name": "collections",
      "x-displayName": "Collections & Tags",
      "description": "Operations on collections and tags"
    },
    {
      "name": "attributes",
      "x-displayName": "Attributes",
      "description": "Operations on attributes (data sources values)"
    },
    {
      "name": "localization",
      "x-displayName": "Localization & Maps",
      "description": "Queries on robots localization and maps"
    },
    {
      "name": "spaces",
      "x-displayName": "Spaces",
      "description": "![Beta](Status-Beta-yellow.svg)\n\nQueries and operations on spaces\n\n**Note:** This API is experimental and may have breaking changes.\n"
    },
    {
      "name": "navigation",
      "x-displayName": "Navigation",
      "description": "Operations related to robots navigation"
    },
    {
      "name": "locks",
      "x-displayName": "Locks",
      "description": "APIs to lock and unlock robots"
    },
    {
      "name": "actions",
      "x-displayName": "Actions",
      "description": "Operations on robots actions"
    },
    {
      "name": "incidents",
      "x-displayName": "Incidents",
      "description": "Operations to open and close incidents"
    },
    {
      "name": "auditLogs",
      "x-displayName": "Audit Logs"
    },
    {
      "name": "missions",
      "x-displayName": "Missions",
      "description": "Missions Execution.\n\nThis API allows executing missions on robots.\nThe mission to execute can be pre-defined through\nthe [MissionDefinition](https://developer.inorbit.ai/docs#configuring-mission-definitions)\nConfig API kind, or launched as a one-off mission providing its definition at dispatch time.\n\nThe execution of the mission can also be controlled through this API: Abort, pause or\nresume the mission.\n\nWhen using these APIs there is no need to invoke [MissionTracking](#tag/Mission Tracking)\nAPIs manually; all executed missions will also be tracked.\n"
    },
    {
      "name": "missionTracking",
      "x-displayName": "Mission Tracking",
      "description": "Used to track robot missions' execution for later analysis and metrics, for example in the\nMissions dashboards.\n\nMission Tracking APIs can be used through robot agent updates to track the execution\nof a mission (or updates to its data) when this execution is controlled by the robot.\nThey can also be invoked from other external services, for example a proprietary fleet\nmanager.\n\nThese APIs are also (implicitly) used when running missions from the InOrbit platform\nthrough the [Missions APIs](#tag/missions). When executing missions in this way, there is\nnormally no need to call most of these endpoints (e.g. creating and ending a missions),\nexcept to send mission data updates to understand progress or results of the mission\n(such as number of items scanned or picked, etc).\n\nRefer to [this tutorial](https://developer.inorbit.ai/tutorials#mission-tracking-tutorial)\nfor details.\n"
    },
    {
      "name": "trafficManagement",
      "x-displayName": "Traffic Management",
      "description": "APIs to retrieve and update Traffic Management & Zones information.\n\nThese REST APIs complement the [Config APIs](#tag/configAPI) for `TrafficZone` and `TrafficZoneType`, used\nto define the zones, their geometry and traffic rules.\nThe REST APIs allow retrieving and modifying user-defined data (key-values) and the\nzone properties as assigned by a traffic controller.\n"
    },
    {
      "name": "kpis",
      "x-displayName": "KPIs",
      "description": "KPIs queries"
    },
    {
      "name": "expressions",
      "x-displayName": "Expressions",
      "description": "Test and evaluate expressions"
    },
    {
      "name": "inorbitConnect",
      "x-displayName": "InOrbit Connect",
      "description": "InOrbit Connect provisioning and management"
    },
    {
      "name": "configAPI",
      "x-displayName": "Config API"
    },
    {
      "name": "cameraImages",
      "x-displayName": "Camera Images",
      "description": "APIs to work with camera images.\n\nThe REST APIs allow retrieving lists of camera images for a specific camera and time range.\n"
    },
    {
      "name": "Push APIs",
      "description": "InOrbit offers streaming APIs to _push_ data from InOrbit to your own cloud infrastructure.\nThe service can be configured to publish the following information from all or a subset of robots in your account:\n - Robot poses\n - Robot connection information\n - Robot status updates, including the value of specified data sources, once every 10 seconds\n - Data Source updates, relayed as soon as they are received by the platform\n\nPush APIs are currently a premium feature; please [contact support](mailto:support@inorbit.ai) if you are interested in obtaining access.\n## Protocols\nCurrently [MQTT](https://mqtt.org/) is supported out of the box. Messages are streamed normally with a QoS value 0.\nData is published in the following MQTT topics:\n\n  inorbit/<account ID>/<stream ID>/<robot Id>/visualization\n  inorbit/<account ID>/<stream ID>/<robot Id>/connection\n  inorbit/<account ID>/<stream ID>/<robot Id>/status\n  inorbit/<account ID>/<stream ID>/<robot Id>/data/<data source ID>\n\nMultiple streams with different configurations can be set-up for differnt subsets of your fleet\nThe integration can be enabled by providing your MQTT broker details (protocol, address, port) and authentication mechanism (username and password or certificates authentication), as well as any specific client ID if one needs to be specified by the client.\nThe service needs connect and publish access to wildarct topics starting with the prefix \"inorbit/\"\nProvide these details to your customer representative to enable the integration.\n## Data format\nAll APIs use JSON as data transport.\n### Poses\nMQTT postfix: /visualization\n\nRobot positions and orientation information use the following format (example):\n```\n{\n    \"robotId\": \"826667924\",\n    \"mapId\": \"map_annotated\",\n    \"mapDataHash\": \"-1892185817730566149\",\n    \"ts\": 1608668634613,\n    \"x\": 58.74927520751953,\n    \"y\": 22.560251235961914,\n    \"theta\": 0.58592736\n}\n```\nThe `x, y, theta` fields are the position and orientation in the map. They follow the [right-hand rule](https://en.wikipedia.org/wiki/Right-hand_rule#Coordinates): X going from left to right, and Y going from bottom to top, as seen on a computer screen. The `mapId` identifies the map the robot is currently using; in case it uses multiple maps. Additionally `mapDataHash` includes a hash of the map meta- and binary data, so that a receiver of this information may decide if a new map image needs to be re-requested, for example -- see the [Maps API](maps.html).\n### Data Sources\nMQTT postfix: /data/<data source ID>\n\nData Source values are published via MQTT as soon as they are received, using the following format\n```\n{\n    \"robotId\": \"826667924\",\n    \"ts\": 1608668634613,\n    \"attributeId\": \"autonomyState\",\n    \"value\": 12\n}\n```\n"
    },
    {
      "name": "Postman",
      "description": "[Postman](https://www.postman.com/) is a popular tool for developers to design and test APIs. InOrbit APIs can be downloaded as in _Postman Collection_ format.\n\nUsage:\n\n 1. <Button><a download target=\"_blank\" href=\"inorbit.postman.json\">Download</a></Button>\n    the Postman Collection JSON file.\n 2. In a Postman client, click *Import* > *File* > *Upload Files* and select the downloaded\n    `inorbit.postman.json`.\n    This creates an element \"InOrbit REST APIs\" in the Collections sidebar.\n 3. In the new collection, click \"...\" and *Edit*, then *Authorization*.\n    Replace the `x-auth-inorbit-app-key` value with a valid InOrbit app-key from your account.\n 4. Find any request in the tree, and click *Send*.\n    Note that most of the requests have variables such as `robotId`, `tagId` etc.\n    that may need to be replaced before running the request.\n"
    }
  ],
  "paths": {
    "/robots": {
      "get": {
        "tags": [
          "robots"
        ],
        "summary": "Retrieves a list of robots",
        "operationId": "getRobots",
        "description": "Returns information about all robots this account can access\n",
        "parameters": [
          {
            "in": "query",
            "name": "withTags",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to include tags in the response. Defaults to false.",
            "required": false
          },
          {
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Include only robots that are tagged with any of these tag IDs. This parameter can be specified multiple times as an inclusive (OR) filter.\n"
          },
          {
            "in": "query",
            "name": "requiredTag",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Include only robots that are tagged with all of these tag IDs. This parameter can be specified multiple times as an exclusive (AND) filter.\n"
          },
          {
            "in": "query",
            "name": "isOnline",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter robots by online status. If not provided, all robots will be returned.",
            "required": false
          },
          {
            "in": "query",
            "name": "withLocalization",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to include limited localization data in the response. Defaults to false.\nIf the frameId query is provided, withLocalization will be `true`.\nDetailed localization data for a robot can be obtained through the [/robots/{robotId}/localization/full](#operation/getRobotLocalization) endpoint.\n",
            "required": false
          },
          {
            "in": "query",
            "name": "locationId",
            "schema": {
              "type": "string"
            },
            "description": "Filter robots by locationId.",
            "required": false
          },
          {
            "in": "query",
            "name": "frameId",
            "schema": {
              "type": "string"
            },
            "description": "Filter robots by frameId.\nIf not provided, all robots will be returned. If provided, withLocalization will be `true`.\nOnly valid if a locationId is provided.\n",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of robots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RobotListItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}": {
      "get": {
        "tags": [
          "robots"
        ],
        "summary": "Retrieves a robot",
        "operationId": "getRobot",
        "description": "Returns information about a robot given its id\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A robot object",
            "content": {
              "application/json": {
                "example": {
                  "id": "0011-aabb-cccc",
                  "name": "demo-robot-1234",
                  "agentOnline": true,
                  "agentVersion": "1.2.3",
                  "updatedTs": 1594944602962
                },
                "schema": {
                  "$ref": "#/components/schemas/Robot"
                }
              }
            }
          },
          "404": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/tags": {
      "parameters": [
        {
          "in": "path",
          "name": "robotId",
          "schema": {
            "type": "string"
          },
          "description": "The robot's id",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "robots"
        ],
        "summary": "Returns the list of tags for a robot",
        "operationId": "getRobotTags",
        "description": "Returns the list of tags applied to a robot\n",
        "responses": {
          "200": {
            "description": "The list of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RobotTag"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      },
      "post": {
        "tags": [
          "robots"
        ],
        "summary": "Tags a robot",
        "operationId": "tagRobot",
        "requestBody": {
          "description": "Tags a robot. Note that for exclusive collections other tags may be\nautomatically removed from the robot to avoid conflicts.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/TagRobotByTagId"
                  },
                  {
                    "$ref": "#/components/schemas/TagRobotByTagName"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Robot tagged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RobotTag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input error found in request body. Check the body data before sending the request."
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      }
    },
    "/robots/{robotId}/tags/{tagId}": {
      "parameters": [
        {
          "in": "path",
          "name": "robotId",
          "schema": {
            "type": "string"
          },
          "description": "The robot's id",
          "required": true
        },
        {
          "in": "path",
          "name": "tagId",
          "schema": {
            "type": "string"
          },
          "description": "The id of the tag",
          "required": true
        }
      ],
      "delete": {
        "tags": [
          "robots"
        ],
        "summary": "Untag a robot",
        "operationId": "untagTag",
        "responses": {
          "204": {
            "description": "The robot was untagged successfully"
          },
          "400": {
            "description": "The robot couldn't be untagged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      }
    },
    "/robots/{robotId}/attributes/{attributeId}": {
      "get": {
        "tags": [
          "attributes"
        ],
        "summary": "Returns an attribute last value and last update time",
        "operationId": "getRobotAttribute",
        "description": "Returns an attribute last value and the timestamp of the last update\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          },
          {
            "in": "path",
            "name": "attributeId",
            "schema": {
              "type": "string"
            },
            "description": "The attribute id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Attribute value and last update",
            "content": {
              "application/json": {
                "example": {
                  "attribute": "agentOnline",
                  "value": true,
                  "ts": 1594944602962
                },
                "schema": {
                  "$ref": "#/components/schemas/AttributeValue"
                }
              }
            }
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/attributes/{attributeId}/timerange": {
      "get": {
        "tags": [
          "attributes"
        ],
        "summary": "Returns a list with the values for a selected attribute",
        "operationId": "getRobotAttributeWithTimeRange",
        "description": "Returns a list with the values for a selected attribute\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          },
          {
            "in": "path",
            "name": "attributeId",
            "schema": {
              "type": "string"
            },
            "description": "The attribute id",
            "required": true
          },
          {
            "in": "query",
            "name": "startTs",
            "schema": {
              "type": "string"
            },
            "description": "The start timestamp",
            "required": true
          },
          {
            "in": "query",
            "name": "endTs",
            "schema": {
              "type": "string"
            },
            "description": "The end timestamp",
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Elements per page"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Attributes values",
            "content": {
              "application/json": {
                "example": {
                  "type": "array",
                  "values": {
                    "values": "#/components/schemas/AttributeDefinition"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/AttributeTimeRangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/attributeDefinitions/{attributeId}": {
      "get": {
        "tags": [
          "attributes"
        ],
        "summary": "Returns an attribute definition from a specific robot",
        "operationId": "getRobotAttributeDefinition",
        "description": "Returns an attribute definition from a specific robot. Note that these are normally\nthe same definitions from the account it belongs to; unless it has specific configuration overrides.\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          },
          {
            "in": "path",
            "name": "attributeId",
            "schema": {
              "type": "string"
            },
            "description": "The attribute id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The attribute definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeDefinition"
                }
              }
            }
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/attributeDefinitions": {
      "get": {
        "tags": [
          "attributes"
        ],
        "summary": "Returns all attribute definitions for a robot",
        "operationId": "getRobotAttributeDefinitions",
        "description": "Returns all attribute definitions for a robot. They are normally the same\nas the attribute definitions for the account it belongs to, except the case when configuration\noverrides have been defined for the robot.\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A list with all attributes definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeDefinition"
                  }
                }
              }
            }
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/lock": {
      "get": {
        "tags": [
          "locks"
        ],
        "summary": "checks if a robot is locked",
        "operationId": "CheckRobotIsLocked",
        "description": "Checks if a robot is locked\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "robot lock status",
            "content": {
              "application/json": {
                "example": {
                  "locked": {
                    "userId": "M3ojid92H7rq3hvac",
                    "userName": "service user",
                    "userEmail": null,
                    "locked": true,
                    "ts": 1597342004918,
                    "expirationTs": 1597342604918
                  },
                  "lockedForUser": false
                },
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RobotLockedResult"
                    },
                    {
                      "$ref": "#/components/schemas/RobotNotLockedResult"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "locks"
        ],
        "summary": "locks a robot",
        "operationId": "LockRobot",
        "description": "Locks a robot\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "created lock attributes",
            "content": {
              "application/json": {
                "example": {
                  "lock": {
                    "userId": "M3ojid92H7rq3hvac",
                    "userName": "service user",
                    "userEmail": null,
                    "locked": true,
                    "ts": 1597342004918,
                    "expirationTs": 1597342604918
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Lock"
                }
              }
            }
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "locks"
        ],
        "summary": "unlocks a robot",
        "operationId": "UnlockRobot",
        "description": "Locks a robot\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "created lock attributes"
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/auditLogs": {
      "get": {
        "tags": [
          "auditLogs"
        ],
        "summary": "Returns a list of robot logged events",
        "operationId": "getRobotLogs",
        "description": "Returns a list of robot logged events\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          },
          {
            "in": "query",
            "name": "startTs",
            "schema": {
              "type": "string"
            },
            "description": "The start timestamp"
          },
          {
            "in": "query",
            "name": "endTs",
            "schema": {
              "type": "string"
            },
            "description": "The end timestamp"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Events per page limit"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "The results page to be returned"
          }
        ],
        "responses": {
          "200": {
            "description": "List of robot event logs",
            "content": {
              "application/json": {
                "example": [
                  {
                    "ts": 1597342004918,
                    "message": "Robot started"
                  },
                  {
                    "ts": 1597342604918,
                    "message": "Task completed"
                  }
                ],
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RobotAuditLogEvent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/incidents": {
      "post": {
        "tags": [
          "incidents"
        ],
        "summary": "Opens an incident related to a robot",
        "operationId": "OpenIncident",
        "description": "Opens an incident related to a robot using the provided alias as key.\n\nThe triggerId must match a trigger defined in InOrbit's Settings -> Insights -> Incidents\nscreen.\nThe alias is also used for deduplication. Multiple invocations of this\noperation for the same robot and alias will create only one incident.\n",
        "requestBody": {
          "description": "Incident object to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Incident"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Incident created"
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/incidents/{incidentAlias}": {
      "delete": {
        "tags": [
          "incidents"
        ],
        "summary": "Closes an incident related to a robot",
        "operationId": "CloseIncident",
        "description": "Closes an incident related to a robot\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          },
          {
            "in": "path",
            "name": "incidentAlias",
            "schema": {
              "type": "string"
            },
            "description": "The incident alias used during incident creation",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Incident updated"
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "Returns the list of tags",
        "operationId": "getTags",
        "description": "Returns the list of tags defined in the account. Note that only tags\nvisible to the user are included in the result.\n",
        "parameters": [
          {
            "in": "query",
            "name": "collectionId",
            "schema": {
              "type": "string"
            },
            "description": "Filter only tags that belong to the specified collection"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      }
    },
    "/tags/{tagId}": {
      "parameters": [
        {
          "in": "path",
          "name": "tagId",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The tag id"
        }
      ],
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "Returns a tag",
        "operationId": "getTag",
        "description": "Returns a tag.\n",
        "responses": {
          "200": {
            "description": "The tag object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      },
      "put": {
        "tags": [
          "collections"
        ],
        "summary": "Updates a tag",
        "operationId": "updateTag",
        "requestBody": {
          "description": "Updates a tag",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateEdit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The just updated tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Input error found in request body. Check the body data before sending the request."
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      },
      "delete": {
        "tags": [
          "collections"
        ],
        "summary": "Deletes a tag",
        "operationId": "deleteTag",
        "responses": {
          "204": {
            "description": "The tag was deleted"
          },
          "400": {
            "description": "The tag couldn't be deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      }
    },
    "/collections/{collectionId}/tags": {
      "parameters": [
        {
          "in": "path",
          "name": "collectionId",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The collection id"
        }
      ],
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "Returns the list of tags for a collection",
        "operationId": "getCollectionTags",
        "description": "Returns the list of tags for a collection. Only tags visible to the user\nare included in the result.\nNote that this is equivalent to the endpoint /tags?collectionId=xx\n",
        "responses": {
          "200": {
            "description": "The list of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      },
      "post": {
        "tags": [
          "collections"
        ],
        "summary": "Creates a new tag for a collection",
        "operationId": "createTag",
        "requestBody": {
          "description": "Creates a new tag for a collection",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateEdit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The just created tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Input error found in request body. Check the body data before sending the request."
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      }
    },
    "/collections/{collectionId}": {
      "parameters": [
        {
          "in": "path",
          "name": "collectionId",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The collection id"
        }
      ],
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "Returns a collection",
        "operationId": "getCollection",
        "description": "Returns a collection\n",
        "responses": {
          "200": {
            "description": "The collection object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      },
      "put": {
        "tags": [
          "collections"
        ],
        "summary": "Updates a collection",
        "operationId": "updateCollection",
        "requestBody": {
          "description": "Updates a collection",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionCreateEdit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The just updated collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "description": "Input error found in request body. Check the body data before sending the request."
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      },
      "delete": {
        "tags": [
          "collections"
        ],
        "summary": "Deletes a collection",
        "operationId": "deleteCollection",
        "responses": {
          "204": {
            "description": "The collections was deleted"
          },
          "400": {
            "description": "The collection couldn't be deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      }
    },
    "/collections": {
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "Returns the list of all collections",
        "operationId": "getCollections",
        "description": "Returns the list of all collections\nNote that only collections visible to the user are included in the result.\n",
        "responses": {
          "200": {
            "description": "The list of collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Collection"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      },
      "post": {
        "tags": [
          "collections"
        ],
        "summary": "Creates a new collection",
        "operationId": "createCollection",
        "requestBody": {
          "description": "Creates a collection",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionCreateEdit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The just created collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "description": "Input error found in request body. Check the body data before sending the request."
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      }
    },
    "/robots/{robotId}/actionDefinitions": {
      "get": {
        "tags": [
          "actions"
        ],
        "summary": "Returns the list of all actions defined for a robot",
        "operationId": "getRobotActionDefinitions",
        "description": "Returns the list of all actions defined for a robot\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The list of actions definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionDefinition"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/actions": {
      "post": {
        "tags": [
          "actions"
        ],
        "summary": "Executes an action on a robot",
        "operationId": "executeRobotAction",
        "description": "Executes an action on a robot\n",
        "requestBody": {
          "description": "Action execution request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionExecutionRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "The status of the action execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionExecutionStatus"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/actions/{executionId}": {
      "get": {
        "tags": [
          "actions"
        ],
        "summary": "Queries the status of an action execution reported by a robot",
        "operationId": "getActionExecutionStatus",
        "description": "Queries the status of an action execution for a robot\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          },
          {
            "in": "path",
            "name": "executionId",
            "schema": {
              "type": "string"
            },
            "description": "The action executionId of a previously triggered action",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of the action execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionExecutionStatus"
                }
              }
            }
          }
        }
      }
    },
    "/config/attributeDefinitions": {
      "get": {
        "tags": [
          "attributes"
        ],
        "summary": "Returns all attribute definitions",
        "operationId": "getAttributeDefinitions",
        "description": "Returns all attribute definitions\n",
        "responses": {
          "200": {
            "description": "A list with all attributes definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeDefinition"
                  }
                }
              }
            }
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/config/attributeDefinitions/{attributeId}": {
      "get": {
        "tags": [
          "attributes"
        ],
        "summary": "Returns an attribute definition",
        "operationId": "getAttributeDefinition",
        "description": "Returns an attribute definition\n",
        "parameters": [
          {
            "in": "path",
            "name": "attributeId",
            "schema": {
              "type": "string"
            },
            "description": "The attribute id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The attribute definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeDefinition"
                }
              }
            }
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/maps": {
      "get": {
        "tags": [
          "localization"
        ],
        "summary": "Retrieves a list of maps available for a robot",
        "operationId": "getMaps",
        "description": "Returns a list of maps available for the requested robot\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The current list of maps in this robot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapMetadata"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "localization"
        ],
        "summary": "Upload map data",
        "operationId": "postMap",
        "description": "![Beta](Status-Beta-yellow.svg)\n\n\n This is a multi-part request composed two parts:\n - An object which defines the map metadata\n - A PNG image of the map\n \n The bottom left corner of the image needs to match the (metadata.x, metadata.y) coordinate of the real world.\n",
        "requestBody": {
          "description": "Multipart request with map metadata and map image.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SentMapMetadata"
              },
              "encoding": {
                "metadata": {
                  "contentType": "application/json"
                },
                "image": {
                  "contentType": "image/png, image/jpeg"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Map saved successfully."
          },
          "400": {
            "description": "Input error found in request body. Check the JSON body data before sending the request."
          },
          "403": {
            "description": "You do not have access to this feature. Please contact with support@inorbit.ai if you are interested in obtaining access."
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      }
    },
    "/robots/{robotId}/maps/current": {
      "get": {
        "tags": [
          "localization"
        ],
        "summary": "Retrieves the robot's current map metadata\n",
        "operationId": "getCurrentMap",
        "description": "Retrieves the map metadata for the robot's current map. By default, a map metadata including size, resolution, last updated timestamp and other fields is returned in JSON format.\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The current map's metadata, in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapMetadata"
                  }
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "example": "137 80 78 71 13 10 26 10 ...",
                  "format": "binary"
                }
              }
            }
          },
          "302": {
            "description": "Redirect to retrieve the actual map image; if served from elsewhere."
          },
          "304": {
            "description": "Not Modified. The response object is empty"
          },
          "404": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/maps/{mapId}": {
      "get": {
        "tags": [
          "localization"
        ],
        "summary": "Retrieves a robot's map metadata given is id\n",
        "operationId": "getMap",
        "description": "Retrieves an individual map's metadata or binary data. By default, a map metadata including size, resolution, last updated timestamp and other fields is returned in JSON format (see `application/json` response). By specifying `Accept: image/png` the map in binary image form can be retrieved. See also `/download` API path.\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          },
          {
            "in": "path",
            "name": "mapId",
            "schema": {
              "type": "string"
            },
            "description": "The map id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A binary map image. Note that response `302` is more frequently implemented.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapMetadata"
                  }
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "example": "137 80 78 71 13 10 26 10 ...",
                  "format": "binary"
                }
              }
            }
          },
          "302": {
            "description": "Redirect to retrieve the actual map image; if served from elsewhere."
          },
          "304": {
            "description": "Not Modified. The response object is empty"
          },
          "404": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/maps/{mapId}/download": {
      "get": {
        "tags": [
          "localization"
        ],
        "summary": "Downloads a map binary image",
        "operationId": "downloadMap",
        "description": "Retrieves the raw map image from a robot, given its id.\nThe resulting image is always in PNG format, with `Content-Type: image/png`.\nTo use this map, the metadata from /{mapId} API is also necessary (resolution, origin).\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          },
          {
            "in": "path",
            "name": "mapId",
            "schema": {
              "type": "string"
            },
            "description": "The map id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A binary map image. Note that response `302` is more frequently implemented.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "example": "137 80 78 71 13 10 26 10 ..."
                }
              }
            }
          },
          "302": {
            "description": "Redirect to retrieve the actual map image; if served from elsewhere."
          },
          "304": {
            "description": "Not Modified. The response object is empty.\nThis response can be returned if using `If-Modified-Since` HTTP header, and the\nmap has not been changed since the specified date.\n"
          },
          "404": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/localization/pose": {
      "get": {
        "tags": [
          "localization"
        ],
        "summary": "Returns a robot's current pose",
        "operationId": "getRobotPose",
        "description": "Returns the pose of a robot, including position and orientation\n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The current pose of a robot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RobotPose"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/localization/full": {
      "get": {
        "tags": [
          "localization"
        ],
        "summary": "Returns all available localization data for a robot",
        "operationId": "getRobotLocalization",
        "description": "Returns all available localization data for a robot, including pose and lasers if available. \nIf an `include` query param is sent, only those values are returned. \n",
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          },
          {
            "in": "query",
            "name": "include",
            "description": "Data to be included in the response. If not set, all available data is returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "pose",
                  "laser",
                  "costmap",
                  "paths"
                ]
              }
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The current localization data of a robot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RobotLocalization"
                }
              }
            }
          }
        }
      }
    },
    "/spaces/{locationId}/areas": {
      "get": {
        "tags": [
          "spaces"
        ],
        "summary": "Retrieves a list of areas within a location.",
        "operationId": "getAreas",
        "description": "Returns information about all areas within the specified location.\n",
        "parameters": [
          {
            "in": "path",
            "name": "locationId",
            "schema": {
              "type": "string"
            },
            "description": "The location's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A list of areas",
            "content": {
              "application/json": {
                "example": [
                  {
                    "frameId": "25di12",
                    "locationId": "wbL-g004XaIUvDC_",
                    "isDefault": true,
                    "label": "Floor 1",
                    "defaultMapId": "0xgm4iam90x"
                  },
                  {
                    "frameId": "nxz9gs",
                    "locationId": "wbL-g004XaIUvDC_",
                    "isDefault": false,
                    "label": "Floor 2",
                    "defaultMapId": "ck6u90atqqu"
                  }
                ],
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Area"
                  }
                }
              }
            }
          },
          "403": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "error": "User not authorized to access the resource"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Location not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "Location not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/spaces/{locationId}/area/{frameId}": {
      "get": {
        "tags": [
          "spaces"
        ],
        "summary": "Retrieves information about a specific area.",
        "operationId": "getArea",
        "description": "Returns information about a specific area within the specified location.\n",
        "parameters": [
          {
            "in": "path",
            "name": "locationId",
            "schema": {
              "type": "string"
            },
            "description": "The location's id",
            "required": true
          },
          {
            "in": "path",
            "name": "frameId",
            "schema": {
              "type": "string"
            },
            "description": "The area's frameId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An area object.",
            "content": {
              "application/json": {
                "example": {
                  "frameId": "25di12",
                  "locationId": "wbL-g004XaIUvDC_",
                  "isDefault": true,
                  "label": "Floor 1",
                  "defaultMapId": "0xgm4iam90x"
                },
                "schema": {
                  "$ref": "#/components/schemas/Area"
                }
              }
            }
          },
          "403": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "error": "User not authorized to access the resource"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Area not found or Location not found",
            "content": {
              "application/json": {
                "examples": {
                  "areaNotFound": {
                    "summary": "Area not found",
                    "value": {
                      "error": "Area not found"
                    }
                  },
                  "locationNotFound": {
                    "summary": "Location not found",
                    "value": {
                      "error": "Location not found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/navigation/waypoints": {
      "post": {
        "tags": [
          "navigation"
        ],
        "summary": "Sends a list of waypoints to a robot",
        "operationId": "sendNavigationWaypoints",
        "description": "![Beta](Status-Beta-yellow.svg)\nSends a list of navigation waypoints to a robot\n",
        "requestBody": {
          "description": "Waypoints list",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NavigationWaypointRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Waypoints sent to the robot successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NavigationWaypointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Robot not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mission-dispatch": {
      "post": {
        "tags": [
          "missions"
        ],
        "summary": "Dispatches a mission for execution",
        "operationId": "dispatchMission",
        "description": "Dispatches a mission for execution. It can use a previously-defined mission\n[(see Mission Definition)](https://developer.inorbit.ai/docs#configuring-mission-definitions),\nidentified by `missionDefinitionId` or a one-off mission definition provided in the dispatch\nAPI call.\n",
        "requestBody": {
          "description": "Mission object to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MissionDispatchRequest"
              },
              "examples": {
                "one-off": {
                  "value": {
                    "selector": {
                      "robotId": "amr-picker-87"
                    },
                    "arguments": {
                      "skuCode": "AFG233",
                      "quantity": 5
                    },
                    "missionDefinition": {
                      "label": "Pick items for order DN1238923",
                      "steps": [
                        {
                          "label": "Go to bin",
                          "timeoutSecs": 120,
                          "waypoint": "nw-bin-450"
                        },
                        {
                          "label": "Display item to pick on screen for picking operator",
                          "runAction": {
                            "actionId": "display_item",
                            "arguments": {
                              "sku": {
                                "_arguments": "skuCode"
                              },
                              "quantity": {
                                "_arguments": "quantity"
                              }
                            }
                          }
                        },
                        {
                          "label": "Wait until item is picked",
                          "timeoutSecs": 300,
                          "waitUntil": {
                            "expression": "getValue('item_picked_btn_pressed')"
                          }
                        },
                        {
                          "label": "Go to packing station",
                          "timeoutSecs": 120,
                          "waypoint": "nw-packing-station-1"
                        }
                      ]
                    }
                  }
                },
                "predefined": {
                  "value": {
                    "selector": {
                      "robotId": "1234567890"
                    },
                    "arguments": {
                      "dockTimeout": 60,
                      "dockRetries": 3
                    },
                    "missionDefinitionId": "go-to-dock"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A Mission was dispatched to a robot. This does not mean the mission has started yet.\nIts status can be queried using mission-tracking APIs, using the `missionId`\nincluded in the response.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MissionDispatch"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request. It includes errors such as invalid selectors, wrong mission format,\netc. The response contains an `error` string with the reason of the failure.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mission-dispatch/{missionId}": {
      "delete": {
        "tags": [
          "missions"
        ],
        "summary": "Aborts a running a mission",
        "operationId": "cancelMission",
        "description": "Cancels currently running mission given its id.\n",
        "parameters": [
          {
            "in": "path",
            "name": "missionId",
            "schema": {
              "type": "string"
            },
            "description": "The running mission's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The mission was canceled successfully"
          },
          "400": {
            "description": "Running mission not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mission-dispatch/{missionId}/execution": {
      "put": {
        "tags": [
          "missions"
        ],
        "summary": "Pauses or resumes a mission execution",
        "operationId": "updateMissionExecution",
        "description": "Modifies a mission execution.\nCurrently, only pausing and resuming executions are supported. (To abort a mission, see `abortMission` API)\n",
        "requestBody": {
          "description": "Mission object to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MissionExecutionUpdateRequest"
              },
              "examples": {
                "pause": {
                  "value": {
                    "action": "pause"
                  }
                },
                "resume": {
                  "value": {
                    "action": "resume"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "missionId",
            "schema": {
              "type": "string"
            },
            "description": "The running mission's id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The mission execution was correctly updated (paused or resumed).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MissionDispatch"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Execution status conflict: The mission is already paused (for action=\"pause\") or\nis already running (for action=\"resume\").\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Malformed request. It includes errors such as invalid selectors, wrong mission format,\netc. The response contains an `error` string with the reason of the failure.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/missions": {
      "get": {
        "tags": [
          "missionTracking"
        ],
        "summary": "Queries missions",
        "operationId": "findMissions",
        "description": "Returns a list of missions that satisfy some filters\n",
        "parameters": [
          {
            "in": "query",
            "name": "robotId",
            "schema": {
              "type": "string"
            },
            "description": "The robot id"
          },
          {
            "in": "query",
            "name": "inProgress",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter missions that are in progress"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Items per page"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "in": "query",
            "name": "startTs",
            "schema": {
              "type": "integer"
            },
            "description": "Search missions starting after startTs"
          },
          {
            "in": "query",
            "name": "endTs",
            "schema": {
              "type": "integer"
            },
            "description": "Search missions starting before endTs"
          }
        ],
        "responses": {
          "200": {
            "description": "List of missions matching the given filters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MissionSearchResults"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "missionTracking"
        ],
        "summary": "Creates a mission",
        "operationId": "createMission",
        "description": "Creates a mission for the robot. It returns the mission information in the response\n",
        "requestBody": {
          "description": "Mission object to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicMission"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A Mission object containing all mission's attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mission"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Robot does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Conflict, the robot is executing another mission (and auto-ending missions is not configured)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/missions/{missionId}": {
      "parameters": [
        {
          "in": "path",
          "name": "missionId",
          "schema": {
            "type": "string"
          },
          "description": "The mission id",
          "required": true
        }
      ],
      "put": {
        "tags": [
          "missionTracking"
        ],
        "summary": "Updates a mission",
        "operationId": "updateMission",
        "description": "Communicates updates on a mission execution. It should be called whenever a mission status changes (has started, has finished) or any of its tasks has just been completed. Times are recorded assuming these updates are called immediately.\n",
        "requestBody": {
          "description": "Mission attributes to be modified",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MissionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A Mission object containing all mission's attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mission"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Mission does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "missionTracking"
        ],
        "summary": "Terminates a mission",
        "operationId": "terminateMission",
        "description": "Communicates that the current mission has been cancelled. It is equivalent to PUT on the same path, with\n  { status: cancelled }.\nNote: Does NOT actually delete a mission.\n",
        "responses": {
          "204": {
            "description": "The mission was terminated successfully"
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Mission not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "missionTracking"
        ],
        "summary": "Retrieves a mission",
        "operationId": "getMission",
        "description": "Returns information about a mission\n",
        "responses": {
          "200": {
            "description": "A Mission object containing all mission's attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mission"
                }
              }
            }
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Mission not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zones/{locationId}": {
      "parameters": [
        {
          "in": "path",
          "name": "locationId",
          "schema": {
            "type": "string"
          },
          "description": "The location id",
          "required": true
        },
        {
          "in": "query",
          "name": "frameId",
          "schema": {
            "type": "string"
          },
          "description": "The frame id",
          "required": false
        }
      ],
      "get": {
        "tags": [
          "trafficManagement"
        ],
        "summary": "Lists the zones in a location",
        "operationId": "getZones",
        "description": "Lists the zones in a location. Allows filtering by area using the `frameId` query parameter.\n",
        "responses": {
          "200": {
            "description": "A list of zones"
          },
          "401": {
            "description": "Authorization error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Location not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zones/{locationId}/{zoneId}/properties": {
      "parameters": [
        {
          "in": "path",
          "name": "locationId",
          "schema": {
            "type": "string"
          },
          "description": "The zone id; unique within a location",
          "required": true
        },
        {
          "in": "path",
          "name": "zoneId",
          "schema": {
            "type": "string"
          },
          "description": "The location id",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "trafficManagement"
        ],
        "summary": "Retrieves the zone properties; including its state.",
        "operationId": "getZoneProperties",
        "description": "Retrieves the zone properties, as assigned by a traffic controller.\nFor example its state and robots currently inside the zone.\n",
        "responses": {
          "200": {
            "description": "An object with the zone properties, including `{ state, robotIds }` (other keys may exist depending on the traffic rules assigned to the zone)."
          },
          "401": {
            "description": "Authorization error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Zone or location note found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "trafficManagement"
        ],
        "summary": "Updates the zone properties; including its state.",
        "operationId": "setZoneProperties",
        "description": "Modifies zones properties. It currently allows changing the zone \"state\", which determines the zone\nvisual representation in the app. (For example if there are `conditionalStyle` treatments in its Zone Type).\nBeware that normally traffic controllers change the `state` (and other properties), so this API is\nnormally used only with custom traffic zone types; when there is no conflict with traffic controller updates.\nIt can also be used in the implementation of custom traffic controllers.\n",
        "requestBody": {
          "description": "Zone properties",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserZoneProperties"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The zone was updated. The response includes all of the zone's properties"
          },
          "401": {
            "description": "Authorization error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Zone or location note found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zones/{locationId}/{zoneId}/data": {
      "parameters": [
        {
          "in": "path",
          "name": "locationId",
          "schema": {
            "type": "string"
          },
          "description": "The zone id; unique within a location",
          "required": true
        },
        {
          "in": "path",
          "name": "zoneId",
          "schema": {
            "type": "string"
          },
          "description": "The location id",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "trafficManagement"
        ],
        "summary": "Retrieves a zone's user-defined data",
        "operationId": "getZoneData",
        "description": "Retrieves and returns any user-defined data appended to this Traffic Zone.\n",
        "responses": {
          "200": {
            "description": "An object with user-defined data, an arbitrary key-value dictionary."
          },
          "401": {
            "description": "Authorization error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Zone or location note found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "trafficManagement"
        ],
        "summary": "Updates a Traffic Zone user-defined data",
        "operationId": "addZoneData",
        "description": "Assigns user-defined data to a Traffic Zone.\nThis data is an arbitrary key-value dictionary, which will be added to the Zone, overwriting existing data\nwith the same keys. Null values will clear (delete) existing keys.\n",
        "requestBody": {
          "description": "User data",
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "The zone was updated. The response includes all of the zone's user defined data"
          },
          "401": {
            "description": "Authorization error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Zone or location note found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/configuration/apply": {
      "post": {
        "tags": [
          "configAPI"
        ],
        "summary": "Applies a configuration object",
        "operationId": "configApply",
        "requestBody": {
          "description": "Applies a configuration object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration applied successfully"
          },
          "400": {
            "description": "Input error found in request body. Check the body data before sending the request."
          },
          "403": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Please wait a few minutes until it gets solved."
          }
        }
      }
    },
    "/configuration/list": {
      "get": {
        "tags": [
          "configAPI"
        ],
        "summary": "Retrieves a list of configuration objects",
        "operationId": "configList",
        "parameters": [
          {
            "in": "query",
            "name": "scope",
            "schema": {
              "type": "string"
            },
            "description": "Filter configuration objects for the specified scope. `*` can be used\nas wildcard for filtering, for example `*`, `account` `tag/*`, `robot/*`\nare valid filers.\n"
          },
          {
            "in": "query",
            "name": "kind",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Filter configuration objects for the specified kind"
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "Filter configuration objects for the specified id"
          },
          {
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string",
              "enum": [
                "short",
                "full"
              ]
            },
            "description": "Format to use, it can be a list with a short description for each object\nor the full objects in the same format used by the apply operation.\nBy default the \"short\" format is used.\n"
          }
        ],
        "responses": {
          "200": {
[...]
